<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/navbar.css">
</head>
    <body>
        <nav>
            <div class="logo">
                Lesson Plan Management System
            </div>
            <ul>
                <li><a class="active" href="/">Home</a></li>
                <li><a href="/subjects">Subject</a></li>
                <li><a href="#">Assignments</a></li>
            </ul>
            <div class="navbar-end">
                <div class="navbar-item">
                    <form action="/logout" method="post"><button type="submit" class="button is-primary">Log out</button></form>
                </div>
            </div>
            </div>
            </div>
        </nav>
<table   contenteditable='true' style="width: 100%" border="1" cellspacing="0" bordercolor=green>
    <tr>
        <td colspan="5">
            <p style="text-align: center; font-weight: bolder; font-size: 20px;"><u>Overview</u></p>
               <pre><b>Subject:</b> Software Engineering		<b>Year: </b>III 			<b>Part: </b>I 
<b>Teaching Hours: </b>45 		     <b>Schemes:</b> Lecture, Tutorial, Practical
<hr><b>Objective: </b>To provide a systematic approach towards planning, development, implementation & maintenance of the system &
           help in developing software projects.
 
<b>Evaluation bases: </b>Assesment, Assignment, Class Performance, Practical tasks, Attendance, etc   

</pre>
</td>
    </tr>
    <tr bgcolor="gray">
 <th>Unit</th>
 <th>Week(s)</th>
 <th>Day(s)</th>
 <th>Topics to be discussed(Activities)</th>
 <th>Status</th>
    </tr>
    <tr>
        <td rowspan="4" >(1) Introduction</td>
        <td rowspan="3">Week 1</td>
        <td>Day 1</td>
        <td > Data & Signal, Analog & Digital Signal</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Data Representation</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Analog & Digital Data Communication System</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 2</td>
        <td>Day 1</td>
        <td >Transmission Impairments (Attenuation, Noise, Distortion)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="4" >(2) Signals & Systems</td>
        <td>Day 2</td>
        <td>Signal and Classification of Signals</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Signal and Classification of Signals (Continued)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 3</td>
        <td>Day 1</td>
        <td>System and Basic Properties of Systems: System with and without memory, Linearity, Time Invariance</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>System and Basic Properties of Systems: Invertibility, Casuality, Stability</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="6" >(3) Signal Analysis</td>
        <td>Day 3</td>
        <td>Unit Impulse Function and Unit Step Function</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 4</td>
        <td>Day 1</td>
        <td>LTI System and Impulse Response</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Fourier Series Representation of Continuous-Time Signal</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Fourier Series Representation of Continuous-Time Signal (Continued), Fourier Transform of Continuous-Time Signal</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 5</td>
        <td>Day 1</td>
        <td>Fourier Transform of Continuous-Time Signal (Continued)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Spectral Analysis of a Signal, Signal Bandwidth</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="1" ></td>
        <td>Day 3</td>
        <td>Electromagnetic Spectrum for Communication and Type of Propagation, Guided Transmission Media: Copper Media (Twisted pair and Co‐axial) & Fiber Optics</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <th  colspan="4" bgcolor="yellow"> [Assessment]</th>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3" >(4) Transmission Media</td>
        <td rowspan="3">Week 6</td>
        <td>Day 1</td>
        <td>Unguided Communication Bands and Antennas, Terrestrial Microwaves, Satellite Communication and Cellular System</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Data Rate Limits: Nyquist Bit Rate for Noiseless Channel, Shannon Capacity for Noisy Channel</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Performance of Channel: Bandwidth, Throughput, Latency, Jitter, Bit Error Rate (BER)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="10" >(5) Data Encoding & Modulation</td>
        <td rowspan="3">Week 7</td>
        <td>Day 1</td>
        <td>Baseband Communication (Analog/Digital)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Data Encoding and Modulation</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Types of Analog Modulation: Amplitude Modulation, Frequency Modulation & Phase Modulation</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>   
        <td rowspan="3">Week 8</td>
        <td>Day 1</td>
        <td>Pulse Modulation System: Pulse Amplitude Modulation (PAM), Pulse Width Modulation (PWM)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Encoding Analog Data as Digital Signal: Pulse Code Modulation (PCM)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Encoding Digital Data as Digital Signals</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 9</td>
        <td>Day 1</td>
        <td>Line Coding Schemes: NRZ, RZ, Manchester, AMI</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Block Coding, Scrambling</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Digital Modulation: Amplitude Shift Keying (ASK), Frequency Shift Keying (FSK)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 10</td>
        <td>Day 1</td>
        <td>Digital Modulation: Phase Shift Keying (PSK), Quadrature Amplitude Modulation (QAM)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="6" >(6) Multiplexing & Spreading</td>
        <td>Day 2</td>
        <td>Multiplexing and Application</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Frequency Division Multiplexing (FDM)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 11</td>
        <td>Day 1</td>
        <td>Wavelength‐Division Multiplexing (WDM)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Time Division Multiplexing (TDM)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Spread Spectrum</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 12</td>
        <td>Day 1</td>
        <td>Code‐Division Multiple Access (CDMA)</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3" >(7) Switching</td>
        <td>Day 2</td>
        <td>Switching and Application, Circuit Switching & Packet Switching</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Datagram Switching & Virtual Circuit Switching</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="2">Week 13</td>
        <td>Day 1</td>
        <td>X.25, Frame Relay, ATM</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="1" ></td>
        <td>Day 2</td>
        <td>Introduction to Information Theory, Average Information</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <tr>
            <th colspan="4" bgcolor="yellow">[Assessment]</th>
            <td><input type="checkbox"></td>
        </tr>
        <td rowspan="7" >(8) Information Theory & Coding</td>
        <td rowspan="1"></td>
        <td>Day 3</td>
        <td>Source Coding – Huffman Coding</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 14</td>
        <td>Day 1</td>
        <td>Source Coding – Shannon-Fano Coding</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Error Detection and Correction Code</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Hamming Distance</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td rowspan="3">Week 15</td>
        <td>Day 1</td>
        <td>Linear Block Coding</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 2</td>
        <td>Cyclic Codes, CRC</td>
        <td><input type="checkbox"></td>
    </tr>
    <tr>
        <td>Day 3</td>
        <td>Convolution Codes</td>
        <td><input type="checkbox"></td>
    </tr>
    <script>
        var edit = document.getElementById('edit');
        edit.innerHTML = localStorage.getItem('edit');
        edit.addEventListener('blur', function() {
            localStorage.setItem('edit', this.innerHTML);
        });
             </script>
        </table>
    </body>
</html>