<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
    <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="#">Assignments</a></li>
        </ul>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/logout" method="post"><button type="submit" class="button is-primary">Log out</button></form>
            </div>
        </div>
        </div>
        </div>
    </nav>
    <table   contenteditable='true' style="width: 100%" border="1" cellspacing="0" bordercolor=green>
        <tr>
            <td colspan="5">
                <p style="text-align: center; font-weight: bolder; font-size: 20px;"><u>Overview</u></p>
                   <pre><b>     Subject:</b> Software Engineering		<b>Year: </b>III 			<b>Part: </b>I 
    <b>Teaching Hours: </b>45 		     <b>Schemes:</b> Lecture, Tutorial, Practical
    <hr><b>     Objective: </b>To provide a systematic approach towards planning, development, implementation & maintenance of the system &
               help in developing software projects.
     
    <b>Evaluation bases: </b>Assesment, Assignment, Class Performance, Practical tasks, Attendance, etc   
    
    </pre>
    </td>
        </tr>
        <tr bgcolor="gray">
     <th>Unit</th>
     <th>Week(s)</th>
     <th>Day(s)</th>
     <th>Topics to be discussed(Activities)</th>
     <th>Status</th>
        </tr>
        <tr>
            <td rowspan="12" >(1) Software Process &  Requirments
          </td>
            <td rowspan="3">Week 1</td>
            <td>Day 1</td>
            <td > Software Crisis, Software Characteristics (brief) </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Software Characteristics(Continued), Software Quality Attributes </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Software Process Model</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">Week 2</td>
            <td>Day 1</td>
            <td >Software Process Model (Continued)</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Process Iteration, Process Activities (brief)</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Process Activities(Continued), Computer-aided Software Engineering</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">Week 3</td>
            <td>Day 1</td>
            <td>Functional & Non-functional Requirements</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>User Requirements, System Requirments, Interface Specification</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>The Software Required Documents</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">Week 4</td>
            <td>Day 1</td>
            <td>Feasibility Study</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Requirements Elicitation & Analysis</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Requirements Validation & Management</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">(2) System Models</td>
            <td rowspan="3">Week 5</td>
            <td>Day 1</td>
            <td>Context Models, Behavioural Models</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Data & Object Models</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Structured Methods</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <th  colspan="4" bgcolor="yellow"> [Assessment]</th>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="6">(3) Architectural Design</td>
            <td rowspan="3">Week 6</td>
            <td>Day 1</td>
            <td>Architectural Design Decisions, System Organization</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Modular Decomposition Styles</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Control Styles</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">Week 7</td>
            <td>Day 1</td>
            <td>Reference Architectures, Multiprocessor Architectures</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Client-Server Architectures</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Distributed Object Arch, Inter-organizational Distributed Computing</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>   
            <td rowspan="3">(4) Real-time Software Design</td>
            <td rowspan="3">Week 8</td>
            <td>Day 1</td>
            <td>System Design</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Real-time Operating System	</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Monitoring & Control Systems, Data Acquisition Systems	</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">(5) Software Reuse</td>
            <td rowspan="3">Week 9</td>
            <td>Day 1</td>
            <td>The reuse Landscape, Design pattern, Generator-based Reuse</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Application Framework</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Application System Reuse</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="2">(6) Component-Based Soft Engg.</td>
            <td rowspan="3">Week 10</td>
            <td>Day 1</td>
            <td>Components & Component Models </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>The CBSE Process, Component Composition</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="5">(7) Verification & Validation</td>
            <td>Day 3</td>
            <td>Verification & Validation (Introduction)</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">Week 11</td>
            <td>Day 1</td>
            <td>Planning Verification & Validation, Software Inspections (Brief)</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Software Inspections</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Verification & Formal Methods</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">Week 12</td>
            <td>Day 1</td>
            <td>Critical System Verification & Validation</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="4">(8) Software Testing & Cost Estimation</td>
            <td>Day 2</td>
            <td>System Testing, Component Testing; Integration, Regression Testing </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Test Case Design, Test Automation, Metrics for Testing</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td>Day 1</td>
            <td>Estimation Technique, Algorithmic Cost Modeling</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>The COCOMO Model, Project Duration & Staffing</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <tr>
                <th colspan="4" bgcolor="yellow">[Assessment]</th>
                <td><input type="checkbox"></td>
            </tr>
            <td rowspan="5">(9) Quality Management</td>
            <td rowspan="1">Week 13</td>
            <td>Day 3</td>
            <td>Quality Concepts, Software Quality Assurance</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">Week 14</td>
            <td>Day 1</td>
            <td>Software Reviews, Formal Technical Reviews</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 2</td>
            <td>Formal Approaches to SQA, Statistical Software Quality Assurance</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Software Framework Metrics, ISO Standards, Analysis & Design Tools </td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="3">Week 15</td>
            <td>Day 1</td>
            <td>CMMI, SQA Plan, Software Certification</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td rowspan="2">(10)Configuration Management</td>
            <td>Day 2</td>
            <td>CM Planning, Change Management, Version Management</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Day 3</td>
            <td>Version Mngmnt. (Continued), System Building, CASE Tools for CM</td>
            <td><input type="checkbox"></td>
        </tr>
        <script>
            var edit = document.getElementById('edit');
            edit.innerHTML = localStorage.getItem('edit');
            edit.addEventListener('blur', function() {
                localStorage.setItem('edit', this.innerHTML);
            });
                 </script>
            </table>
        </body>
</html>