<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- <link rel="stylesheet" href="/css/navbar.css"> -->
</head>

<body>
    <!-- <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="#">Assignments</a></li>

        </ul>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/logout" method="post"><button type="submit" class="button is-primary">Log out</button></form>
            </div>
        </div>
        </div>
        </div>
    </nav> -->

    <body>
        <table contenteditable='true' style="width: 100%" border="1" cellspacing="0" bordercolor=green>
            <tr>
                <td colspan="5">
                    <p style="text-align: center; font-weight: bolder; font-size: 20px;"><u>Overview</u></p>
                    <pre><b>Subject:</b> Software Engineering		<b>Year: </b>III 			<b>Part: </b>I 
        <b>Teaching Hours: </b>45 		     <b>Schemes:</b> Lecture, Tutorial, Practical
        <hr><b>Objective: </b>To provide a systematic approach towards planning, development, implementation & maintenance of the system &
                   help in developing software projects.
         
        <b>Evaluation bases: </b>Assesment, Assignment, Class Performance, Practical tasks, Attendance, etc   
        
        </pre>
                </td>
            </tr>
            <tr bgcolor="gray">
                <th>Unit</th>
                <th>Week(s)</th>
                <th>Day(s)</th>
                <th>Topics to be discussed(Activities)</th>
                <th>Status</th>
            </tr>
            <tr>
                <td rowspan="12"></td>
                <td rowspan="3">Week 1</td>
                <td>Day 1</td>
                <td> </td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3">Week 2</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3">Week 3</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3">Week 4</td>
                <td>Day 1</td>
                <td> </td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3"></td>
                <td rowspan="3">Week 5</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <th colspan="4"> [Assessment]</th>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="6"></td>
                <td rowspan="3">Week 6</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3">Week 7</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3"></td>
                <td rowspan="3">Week 8</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td> </td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3"> </td>
                <td rowspan="3">Week 9</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td rowspan="3">Week 10</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="5"></td>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3">Week 11</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3">Week 12</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="4"></td>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <tr>
                    <th colspan="4">[Assessment]</th>
                    <td><input type="checkbox"></td>
                </tr>
                <td rowspan="5"></td>
                <td rowspan="1">Week 13</td>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3">Week 14</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td> </td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="3">Week 15</td>
                <td>Day 1</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td>Day 2</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <tr>
                <td>Day 3</td>
                <td></td>
                <td><input type="checkbox"></td>
            </tr>
            <script>
                var edit = document.getElementById('edit');
                edit.innerHTML = localStorage.getItem('edit');
                edit.addEventListener('blur', function() {
                    localStorage.setItem('edit', this.innerHTML);
                });
            </script>
        </table>
    </body>
</body>

</html>