<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../public/assignment.css"> -->
    <link rel="stylesheet" href="/css/assignment.css">
</head>

<body>
    <h1>Hello here are your created assignments</h1>
    <% for(let assignment of subject.assignments) { %>
        <div class="main-container">

            <div class="cards">
                <div class="card card-1">
                    <div class="card__icon"><i class="fas fa-bolt"></i></div>
                    <p class="card__exit"><i class="fas fa-times"></i></p>
                    <p class="card__apply">

                        <%= assignment.title %> <i class="fas fa-arrow-right"></i></a>
                    </p>
                    <h2 class="card__title">
                        <%= assignment.body %>
                    </h2>

                    <form action="/subjects/<%=subject._id%>/assignment/<%=assignment._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>

                </div>

            </div>
        </div>

        <% } %>

</body>

</html>