<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/cssa/mobiscroll.javascript.min.css" rel="stylesheet" />
    <script src="/jsa/mobiscroll.javascript.min.js"></script>
    <link rel="stylesheet" href="/css/calendar1.css">
    <link rel="stylesheet" href="/css/navbar.css">

</head>

<body>
    <!-- <div id="calendar"></div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script> -->
    <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="#">Assignments</a></li>

        </ul>
        <div class="navbar-end">
            <div class="navbar-item">
                <form action="/logout" method="post"><button type="submit" class="button is-primary">Log out</button></form>
            </div>
        </div>
        </div>
        </div>
    </nav>

    <div id="demo-add-delete-event"></div>

    <div id="demo-add-popup">

        <div class="mbsc-form-group">
            <label>
            Title
            <input mbsc-input id="recurring-event-title">
        </label>
            <label>
            Description
            <textarea mbsc-textarea id="recurring-event-desc"></textarea>
        </label>
        </div>

        <div class="mbsc-form-group">
            <label for="recurring-event-all-day">
            All-day
            <input mbsc-switch id="recurring-event-all-day" type="checkbox" />
        </label>
            <label for="start-input">
            Starts
            <input mbsc-input id="start-input" />
        </label>
            <label for="end-input">
            Ends
            <input mbsc-input id="end-input" />
        </label>
            <div id="recurring-event-date"></div>
            <label>
            <input mbsc-input data-label="Repeats" data-dropdown="true" id="recurring-event-repeat" />
        </label>

            <div id="demo-custom-repeat-cont">
                <div>
                    <div mbsc-segmented-group>
                        <label>
                        Daily
                        <input type="radio" mbsc-segmented name="custom-repeat-type" value="daily" checked>
                    </label>
                        <label>
                        Weekly
                        <input type="radio" mbsc-segmented name="custom-repeat-type" value="weekly">
                    </label>
                        <label>
                        Monthly
                        <input type="radio" mbsc-segmented name="custom-repeat-type" value="monthly">
                    </label>
                        <label>
                        Yearly
                        <input type="radio" mbsc-segmented name="custom-repeat-type" value="yearly">
                    </label>
                    </div>

                    <div class="custom-repeat-settings">
                        Repeat every
                        <label class="custom-repeat-input">
                        <input id="custom-repeat-nr" min="1" mbsc-input data-input-style="outline" value="1" />
                    </label>
                        <span class="custom-repeat-text custom-repeat-daily">days</span>
                        <span class="custom-repeat-text custom-repeat-weekly">weeks</span>
                        <span class="custom-repeat-text custom-repeat-monthly">
                        months on day
                        <label class="custom-repeat-input custom-repeat-select-nr">
                            <input id="custom-repeat-month-day" mbsc-input data-dropdown="true" data-input-style="outline" />
                        </label>
                    </span>
                        <span class="custom-repeat-text custom-repeat-yearly">
                        years on
                        <label class="custom-repeat-input custom-repeat-select-month">
                            <input mbsc-input id="custom-repeat-month-input" data-dropdown="true" data-input-style="outline" />
                        </label>
                        <label class="custom-repeat-input custom-repeat-select-nr">
                            <input id="custom-repeat-year-day" mbsc-input data-dropdown="true" data-input-style="outline" />
                        </label>
                        <select id="custom-repeat-month" data-input-style="outline">
                            <option value="1" selected>January</option>
                            <option value="2">February</option>
                            <option value="3">March</option>
                            <option value="4">April</option>
                            <option value="5">May</option>
                            <option value="6">June</option>
                            <option value="7">July</option>
                            <option value="8">August</option>
                            <option value="9">September</option>
                            <option value="10">October</option>
                            <option value="11">November</option>
                            <option value="12">December</option>
                        </select>
                    </span>
                        <p class="custom-repeat-desc custom-repeat-text custom-repeat-daily">The event will be repeated every day or every x days, depending on the value</p>
                        <p class="custom-repeat-desc custom-repeat-text custom-repeat-weekly">The event will be repeated every x weeks on specific weekdays</p>
                        <p class="custom-repeat-desc custom-repeat-text custom-repeat-monthly">The event will be repeated every x month on specific day of the month</p>
                        <p class="custom-repeat-desc custom-repeat-text custom-repeat-yearly">The event will be repeated every x years on specific day of a specific month</p>

                        <div class="custom-repeat-checkbox-cont custom-repeat-text custom-repeat-weekly">
                            <label>
                        <input mbsc-checkbox class="custom-repeat-weekdays" type="checkbox" value="SU" name="Sunday" checked>
                        Sun
                    </label>
                            <label>
                        <input mbsc-checkbox class="custom-repeat-weekdays" type="checkbox" value="MO" name="Monday">
                        Mon
                    </label>
                            <label>
                        <input mbsc-checkbox class="custom-repeat-weekdays" type="checkbox" value="TU" name="Tuesday">
                        Tue
                    </label>
                            <label>
                        <input mbsc-checkbox class="custom-repeat-weekdays" type="checkbox" value="WE" name="Wednesday">
                        Wed
                    </label>
                            <label>
                        <input mbsc-checkbox class="custom-repeat-weekdays" type="checkbox" value="TH" name="Thursday">
                        Thu
                    </label>
                            <label>
                        <input mbsc-checkbox class="custom-repeat-weekdays" type="checkbox" value="FR" name="Friday">
                        Fri
                    </label>
                            <label>
                        <input mbsc-checkbox class="custom-repeat-weekdays" type="checkbox" value="SA" name="Saturday">
                        Sat
                    </label>
                        </div>

                        <div>Stop condition</div>
                        <div class="custom-condition-cont">
                            <label>
                            <input mbsc-radio type="radio" name="custom-repeat-condition" value="never" data-description="The event will repeat indefinitely" checked> Never stop
                        </label>
                            <label>
                            <input mbsc-radio type="radio" name="custom-repeat-condition" value="until" data-description="The event will run until it reaches a specific date">
                            Run until a specific date
                            <label class="custom-repeat-input custom-specific-date">
                                <input id="custom-repeat-date" mbsc-input data-input-style="outline" placeholder="Select a date" />
                            </label>
                            </label>
                            <label>
                            <input mbsc-radio type="radio" name="custom-repeat-condition" value="count" data-description="The event will repeat until it reaches a certain amount of occurrences">
                            Run until it reaches
                            <label class="custom-repeat-input">
                                <input id="custom-repeat-until" mbsc-input min="1" data-input-style="outline" value="1" />
                            </label> occurrences
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <label>
            Show as busy
            <input id="recurring-event-status-busy" mbsc-segmented type="radio" name="recurring-event-status" value="busy">
        </label>
            <label>
            Show as free
            <input id="recurring-event-status-free" mbsc-segmented type="radio" name="recurring-event-status" value="free">
        </label>
            <div class="mbsc-button-group">
                <button class="mbsc-button-block" id="recurring-event-delete" mbsc-button data-color="danger" data-variant="outline">Delete event</button>
            </div>
        </div>
    </div>

    <script src="/js/calendar.js"></script>

</body>

</html>