<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/create.css">

    <title>Create Plan</title>
</head>

<body>
    <section class="section">
        <h1>Textarea Character Count</h1>
        <form action="/subjects/<%= subject._id %>/plan" method="POST" class="form js-form">
            <fieldset>
                <label for="textarea-1">Textarea 1</label>
                <textarea id="textarea-1" class="js-character-count" name="week" maxlength="100" aria-describedby="textarea-info-1"></textarea>
                <p id="textarea-info-1" class="field-text field-text--character-count js-field-text" aria-live="polite">100 maximum characters</p>
            </fieldset>

            <hr/>

            <fieldset>
                <label for="textarea-2">Textarea 2 (no character count)</label>
                <textarea id="textarea-2" name="objectives"></textarea>
            </fieldset>

            <hr/>

            <fieldset>
                <label for="textarea-3">Textarea 3</label>
                <textarea id="textarea-3" class="js-character-count" name="sunday" maxlength="110" aria-describedby="textarea-info-3">Some pre-populated text</textarea>
                <p id="textarea-info-3" class="field-text field-text--character-count js-field-text" aria-live="polite">110 maximum characters</p>
            </fieldset>
            <input type="submit">
        </form>
    </section>
    <script src="/js/create.js"></script>
</body>

</html>