<%- include('components/header') %>
<body>
    <div class="flex flex-row">
        <div >
            <%- include('components/sidebar') %>
        </div>
        <div class="mx-5">
            <%- include('components/calendar.ejs') %>
        </div>
    </div>
</body>

</html>