<%- include('components/header') %>
<body>
    <div class="flex flex-row">
        <div >
            <%- include('components/sidebar') %>
        </div>
        <div class="w-full">
            <%- include('components/navbar') %>
        </div>
    </div>
</body>

</html>
