<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/error.css">
</head>

<body>
    <h1>
        <%= err.message %>
    </h1>

    <div class="frame">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="caps"><img src="http://ademilter.com/caps.png" alt=""></div>
    <canvas id="canvas"></canvas>
    <script src="/js/error.js"></script>
</body>

</html>