<%- include('components/header') %>
<body class="bg-gradient-to-r from-cyan-500 to-blue-500">
    <div
        class="h-32 md:h-screen flex flex-col md:flex-row justify-center items-center"
    >
        <div
            class="flex flex-col md:flex-row jsutify-center md:justify-between w-screen md:w-4/5 h-16 md:h-3/4"
        >
            <div
                class="invisible md:visible w-3/5 h-full flex flex-col justify-center bg-indigo-300"
            >
                <img
                    class="w-3/5 mx-auto my-auto"
                    src="img/svg/home.svg"
                    alt=""
                />
            </div>
            <div
                class="flex flex-col justify-center w-auto mx-2 md:mx-0 md:w-2/5 md:h-full bg-white"
            >
                <form class="px-8 pt-6 pb-8 mb-4" action="/login" method="POST">
                    <p
                        class="text-center text-gray-900 text-2xl font-bold pb-16"
                    >
                        LPMS
                    </p>
                    <% if(errorMessage) { %>
                    <p class="text-center text-2xl text-red-600 p-4">
                        <%= errorMessage %>
                    </p>
                    <% } %>
                    <div class="mb-4">
                        <label
                            class="block text-gray-700 text-sm font-bold mb-2"
                            for="username"
                        >
                            Username
                        </label>
                        <input
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                            id="username"
                            type="text"
                            name="username"
                            placeholder="Username"
                        />
                    </div>
                    <div class="mb-6">
                        <label
                            class="block text-gray-700 text-sm font-bold mb-2"
                            for="password"
                        >
                            Password
                        </label>
                        <input
                            class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                            id="password"
                            type="password"
                            name="password"
                            placeholder="******************"
                        />
                    </div>
                    <div class="flex flex-col items-center justify-between">
                        <button
                            type="submit"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-10 rounded focus:outline-none focus:shadow-outline"
                        >
                            Sign In
                        </button>
                        <a
                            class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800 mt-3"
                            href="/register"
                        >
                            Create an account
                        </a>
                    </div>
                    <p class="text-center text-gray-500 text-xs mt-4">
                        &copy;2022 LPMS All rights reserved.
                    </p>
                </form>
            </div>
        </div>
    </div>
</body>

<%- include('components/footer') %>
