<%- include('components/header') %>
<%- include('components/navbar') %>
<body>
    <div class="w-full flex flex-col md:flex-row bg-lime-300">
        <div class="basis-1/2 my-auto px-3">
            <p> Lesson plan is a teacher's daily guide for
                what students need to learn, 
                how it will be taught &
                how learning will be measured.

                Lesson plans help teachers be more effective
                providing a detailed outline to follow each class period.

            </p>

            <div class="buttons">
                <button class="btn m-2"> <a href="/login"> Login </a></button>
                <button class="btn m-2"><a href="/register">Signup</a></button>
            </div>
        </div>
        <div class="basis-1/2">
            <img class="" src="/img/home.jpeg" alt="Lesson-Plan">
        </div>
    </div>
</body>

<%- include('components/footer') %>
