<!DOCTYPE html>

<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title> Navigation Menu</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <nav>
        <div class="logo">
            Lesson Plan Management System
        </div>
        <input type="checkbox" id="click">
        <label for="click" class="menu-btn">
         <i class="fas fa-bars"></i>
         </label>
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/subjects">Subject</a></li>
            <li><a href="#">Assignments</a></li>

        </ul>
    </nav>
    <div class="content">
        <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis quibusdam ducimus distinctio omnis temporibus aperiam ea saepe, incidunt officiis vero molestias iure dolorum nulla nam, quidem ratione. Blanditiis, porro asperiores.
        </div>
        <div>
            using only HTML & CSS
        </div>
    </div>
</body>

</html>