<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/view.css">


    <!-- <script src="https://kit.fontawesome.com/a076d05399.js"></script> -->
</head>

<body>



    <div class="wrapper">
        <div class="table sub">

            <div class="package-name"></div>
            <div class="btn">
                <a href="/subjects/<%=subject._id%>/assignment/new"><button>Create Assignment</button></a></div>
        </div>


        <div class="table sub">

            <div class="package-name"></div>
            <div class="btn"><button>View lessonplan</button></div>
        </div>


        <div class="table sub">

            <div class="package-name"></div>
            <div class="btn"><button>View Assignments</button></div>
        </div>


        <div class="table sub">

            <div class="package-name"></div>
            <div class="btn"><button>Add Resources</button></div>
        </div>


        <div class="table sub">

            <div class="package-name"></div>
            <div class="btn"><button>Files</button></div>
        </div>


        < </body>

</html>